<div class="new-reservations-container">
  <div class="new-reservations-title">
    <h3>New Reservation Requests</h3>
  </div>
  <div class="new-reservations-container__new-reservations-empty-container" *ngIf="!!!(test | async)">
    <p>No new reservations</p>
  </div>
  <div class="new-reservations-list-container" *ngIf="!!(test | async)">
    <table>
      <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Time
        </th>
        <th>
          Amount of guests
        </th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of (test | async | keyvalue)">
          <td>
            {{reservation.value.timeOfArrival.getDate()}}/{{reservation.value.timeOfArrival.getMonth()}}
          </td>
          <td>
            {{reservation.value.timeOfArrival.getHours()}}:{{reservation.value.timeOfArrival.getMinutes()}}
          </td>
          <td>
            {{reservation.value.amountOfGuests}}
          </td>
          <td>
            <div class="button_accept" (click)="acceptReservation(reservation.value)">Accept</div>
          </td>
          <td>
            <div class="button_decline" (click)="declineReservation(reservation.value)">Decline</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
