<div class="new-reservations-container">
  <div class="new-reservations-title">
    <h3>New Reservation Requests</h3>
  </div>
  <div class="new-reservations-list-container">
    <table>
      <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Time
        </th>
        <th>
          Amount of guests
        </th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of newReservationsObservable | async">
          <td>
            {{reservation.timeOfArrival.getDate()}}/{{reservation.timeOfArrival.getMonth()}}
          </td>
          <td>
            {{reservation.timeOfArrival.getHours()}}:{{reservation.timeOfArrival.getMinutes()}}
          </td>
          <td>
            {{reservation.amountOfGuests}}
          </td>
          <td>
            <div class="button_accept" (click)="acceptReservation(reservation.customerId)">Accept</div>
          </td>
          <td>
            <div class="button_decline">Decline</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
