.new-reservations-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  font-family: sans-serif;
}

.new-reservations-container > div {
  margin: 0.25rem 1rem;
}

.new-reservations-list-container {
  display: flex;
}

table {
  display: block;
  max-height: 15rem;
  overflow-y: auto;
  width: 100%;
}

th, td {
  text-align: start;
  padding: 0.25rem 0.75rem;
  width: 1%;
}

.new-reservations-title {
  padding: 0.5rem 0.5rem 0 0;
  border-bottom: 0.125rem solid #D8D9DB;
}

h3 {
  margin: 0;
  font-weight: bold;
}





