<div class="menu-editor-container">
  <h2>Edit Menu</h2>
  <div class="menu-editor-container__category-container">
    <h3>Category:</h3>

    <form [formGroup]="newCategory" class="menu-editor-container__category-container--form">
      <mat-form-field>
        <mat-label>New category</mat-label>
        <input matInput type="text" formControlName="category" placeholder="Add new category">
      </mat-form-field>

      <button class="menu-editor-container__category-container--form__category-button" type="submit"
              (click)="onSubmitCategory()" [disabled]="!newCategory.valid">Add New Category
      </button>
    </form>

    <mat-form-field>
      <mat-label>Select a category</mat-label>
      <mat-select [(ngModel)]="selectedCategory">
        <mat-option *ngFor="let category of categoryObservable | async"
                    [value]="category">{{category.title}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="menu-editor-container__item-container">
    <h3>Item:</h3>
    <form [formGroup]="newItem" class="menu-editor-container__item-container--form">
      <mat-form-field>
        <mat-label>Item name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Item name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Item description</mat-label>
        <textarea matInput cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5" formControlName="description" placeholder="Item description"
        ></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Item price</mat-label>
        <input matInput type="number" formControlName="price" placeholder="Item price">
      </mat-form-field>

      <button class="menu-editor-container__item-container--form__item-button" type="submit"
              (click)="onSubmitItem()" [disabled]="!newItem.valid">Add New Item
      </button>
    </form>
  </div>
</div>
