.homepage-body-container {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 0.75rem 0 0.75rem;
  height: 100%;
}

.homepage-body-container > div {
  padding-left: 0.75rem ;

}

.homepage-content-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 100%;
}

.new-reservation-request-container {
  margin-bottom: 0.75rem;
}
