.side-navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #C40000;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

  &__options-container > div {
    margin-bottom: 1rem;
  }
}

.side-navbar-container > div {
  margin: 1rem 1rem 0 1rem;
}

.button-unselected {
  font-family: sans-serif;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: #FFFFFF;
  transition-duration: 0.4s;
}

.button-selected {
  font-family: sans-serif;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  color: #C40000;
  transition-duration: 0.4s;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.button-unselected:hover {
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  color: #C40000;
}


