<div class="accepted-reservations-list">
  <div class="accepted-reservations-title">
    <h3>Accepted Reservations</h3>
  </div>

  <div class="accepted-reservations-list">
    <table>
      <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Time
        </th>
        <th>
          Amount of guests
        </th>
        <th>
          Name of guest
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>
          {{reservation.timeOfArrival.getDate()}}/{{reservation.timeOfArrival.getMonth()}}
        </td>
        <td>
          {{reservation.timeOfArrival.getHours()}}:{{reservation.timeOfArrival.getMinutes()}}
        </td>
        <td>
          {{reservation.amountOfGuests}}
        </td>
        <td>
          {{reservation.restaurantName}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
