<div class="accepted-reservations-list-container">
  <div class="accepted-reservations-title">
    <h3>Accepted Reservations</h3>
  </div>

  <div class="accepted-reservations-list">
    <table>
      <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Time
        </th>
        <th>
          Amount of guests
        </th>
        <th>
          Name of guest
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let map of acceptedReservationsObservable | async | keyvalue">
        <td>
          {{map.value.timeOfArrival.getDate()}}/{{map.value.timeOfArrival.getMonth()+1}}
        </td>
        <td>
          {{map.value.timeOfArrival.getHours()}}:{{map.value.timeOfArrival.getMinutes()}}
        </td>
        <td>
          {{map.value.amountOfGuests}}
        </td>
        <td>
          {{map.value.restaurantName}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
