<div class="create-account-container">
  <div class="logo-container" >
    <img src="assets\EatOutLogo.png" (click)="goToFrontpage()">
  </div>
  <div class="title-container">
    <h2>Create your restaurant account</h2>
  </div>
  <form>
    <div class="form-container">
      <label>Restaurant name</label>
      <input type="text" placeholder="Enter restaurant name" required>

      <label>Street name</label>
      <input type="text" placeholder="Enter street name" required>

      <label>Street number</label>
      <input type="text" placeholder="Enter street number" required>

      <label>City</label>
      <input type="text" placeholder="Enter city" required>

      <label>Zip code</label>
      <input type="text" placeholder="Enter zip code" required>

      <label>Email</label>
      <input type="text" placeholder="Enter email" required>

      <label>Password</label>
      <input type="password" placeholder="Enter password" required>
    </div>
  </form>
  <div class="button-container">
    <app-create-account-filled-button></app-create-account-filled-button>
  </div>
  <div class="registered-container">
    <p>Already registered?</p>
    <app-login-inverted-button></app-login-inverted-button>
  </div>
</div>
